#wrapper{
    margin:100px auto;
    text-align: center;
}

.create-new{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    width: 300px;
    height: 60px;
    margin: 30px auto;
    background-color: tomato;
    padding: 20px;
    box-shadow: 1px 4px 6px slategray;
}

h1{
    margin: 0;
    font-family: 'Bebas Neue';
    font-size: 46px;
    letter-spacing: 0.2em;
}

#new-task-col{
    width: 250px;
    height: 30px;
    border: 0px;
    margin-right: 10px;
}

img{
    background-color: whitesmoke;
    width: 30px;
}

#add-task:hover{
    cursor: pointer;
}

.task-list-container{
    /* border: 1px solid black; */
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
}

#task-list{
    /* border: 1px solid black; */
    height: 250px;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

#task-list::-webkit-scrollbar{
    display: none;
}

.task-item{
    /* border: 1px solid black; */
    width: 300px;
    height: 30px;
    margin: 10px auto;
    padding: 20px;
    background-color: #67568c;
    color: #ff6e6c;
    box-shadow: 1px 4px 6px slategray;
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 16px;
}

.task-done{
    text-decoration: line-through;
}