/* project */

#project{
    display: table;
    width: 70%;
    margin: 0 auto;
}

#project > .layout{
    /* border: 1px solid black; */
    margin: 0 auto;
}

#project-heading{
    
}

#project-layout-left{
    width: 373px;
}

#project-layout-right{
    width: 560px;
}

#form-container{
    overflow-y: unset;
}

#todo-form{
    position: relative;
    display: table;
    background-color: #67568c;
    border-radius: 8px;
    padding: 20px;
    border: 2px solid #1f1235;
}

#form-heading{
    position: absolute;
    color: #ff6e6c;
    top: -20px;
    margin: 0;
    text-align: left;
    line-height: 1em;
}

.form-el-section{
    float: left;
    /* border: 1px solid black; */
    margin-top: 20px;
    padding: 10px;
    clear: right;
}

.below{
    clear: both;
    margin-top: 0px;
}

.form-container{
    text-align: left;
    padding: 2px;
}

#form-submit-btn{
    background-color: #ff6e6c;
    margin-top: 20px;
    padding: 3px;
    text-align: center;
}

#form-submit-btn:hover{
    cursor: pointer;
    opacity: 80%;
}

input{
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border-style: none;
}

.status{
    margin-top: 12px;
}

#done_col{
    vertical-align: text-bottom;
    margin: 5px 0px 0px 0px;
    width: 20px;
    height: 20px;
}