/* todo */

#todo{
    position: relative;
}

#todo-layout{
    float: none;
}

#todo-wrapper{
    /* border: 1px solid black; */
    border-radius: 8px;
    margin: 0 auto;
    width: 50%;
    background-color: #67568c;
    padding: 30px;
}

.todo-item-container{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.todo-label{
    margin: 0;
}